.slider-container {
  width: 100%; /* 30% of screen */
  overflow: hidden;
  margin-top:90px;
  
  position: relative;
  
  height:40vh;
  
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  height: 80px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}





